.final__wrapper {
  margin: 0 auto;
  text-align: center;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 15px;
}

.final__title {
  padding-top: 20px;
  color: $main-red;
   @extend %start-2p;
  font-size: 16px;
  text-transform: uppercase;
}

.final__text {
  @extend %montserrat;
  color: $text-color;
  margin: 20px auto;
  font-size: 20px;
  max-width: 900px;
  @media screen and (max-width: 468px) {
    font-size: 16px;
  }
}
.final {
  border-top: 5px double $main-red;
  max-width: 1500px;
  margin: 0 auto;
  border-radius: 40px;
  position: relative;
  &::after {
    @include borderFill(-3px, 50%, 0%, 5px);
    border-top: 5px solid $main-red;
    background-color: transparent;
    border-radius: 40px;
    transform: translate(-50%, -50%);
  }
}