.cyberSecurity__footer {
    max-width: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    overflow: hidden;
}

.footer__content {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    @media screen and (min-width: 768px) {
        flex-direction: row;
    }
}

.content__aboutUs {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}

.content__source {
    margin-bottom: 20px;
    @media screen and (min-width: 768px) {
        margin-bottom: 0;
    }
}


.source__content {
    width: 115px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.footer__title {
    color: $main-red;
    @extend %start-2p;
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}

.title__text {
    color: $main-red;
}

.footer__title__word {
    color: $text-color;
    text-transform: none;
}

.content__link {
    font-weight: 500;
    color: $text-color;
    font-size: 16px;
    @extend %montserrat;
}

.title1{
    animation-play-state: paused;
}

.title--animation {
    animation-play-state: running;
}