.main {
  background: radial-gradient(circle, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.7) 100%);
  // background-position: center center;
  // background-repeat: no-repeat;
  background-size: cover;
  // background-attachment: fixed;
  min-height: 100vh;
}
.introduction__img {
  width: 200px;
  opacity: 0.4;
  filter: blur(1px);
  position: absolute;
  bottom: 0;
  right: 0;
  &:hover {
    animation: appearBar 1000ms;
  }
}
.introduction__title {
  @extend %montserrat;
  font-size: 32px;
  text-align: center;
  color: $text-color;
  // padding-top: 25vh;
  max-width: 700px;
  z-index: 2;
  position: relative;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}
.introduction {
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 1500px;
  margin: 70px auto 0;
  // border-left: $line-width $line-type $main-red;
  border-radius: 5px;
  min-height: calc(100vh - 70px);
}
.main__video {
  height: 100vh;
  width: 100vw;
  object-fit: cover;
  position: fixed;
  top: 0;
  z-index: -1;
}
.introduction__btn {
  // position: absolute;
  // bottom: 125px;
  // right: 50%;
  // transform: translate(50%, 0%);
  z-index: 1;
  position: relative;
  @include btn(22px, 220px);
}

.introduction__btn-wrapper {
  flex-grow: 1;
  position: relative;
  display: flex;
  align-items: center;
  // flex-grow: 1;
  // flex-basis: 1;
  // &::after {
  //   content: '';
  //   display: block;
  //   height: 100%;
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   border-left: $line-width $line-type $main-red;
  //   border-radius: 15px;
  // }
  // &::before {
  //   content: '';
  //   display: block;
  //   width: 50%;
  //   height: 0px;
  //   position: absolute;
  //   bottom: calc(150px - $line-width/2);
  //   left: 0;
  //   border-top: $line-width $line-type $main-red;
  //   border-radius: 15px;
  // }
}
.introduction__content-wrapper {
  width: 100%;
  z-index: 2;
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
}
.introduction__border {
  border-radius: 5px;
  position: absolute;
  bottom: 0;
  flex-basis: 1;
  height: calc(50% - $line-width/2);
  width: 50%;
  border-top: $line-width $line-type $main-red;
  border-left: $line-width $line-type $main-red;
  &::before {
    @include borderFill;
    transition-delay: $transitionDelay;
  }
  &::after {
    @include borderFill(-5px, -5px, 0%, 5px);
  }
} 

.introduction__title-wrapper {
  flex-grow: 1;
  display: flex;
  align-items: end;
  margin: 40px auto;
}
