.main__section {
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 1500px;
  // border-bottom: $line-width $line-type $main-red;
  border-top: $line-width $line-type $main-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--after {
    content: "";
    display: block;
    width: 50%;
    // height: 50px;
    // background-color: #fff;
    border-bottom: $line-width double $main-red;
    position: absolute;
    bottom: 0;
    right: 0;
    &::after {
      max-width: 100%;
      @include borderFill(0, 0, 0%, 5px);
    }
  }
  &--before {
    content: "";
    display: block;
    width: 5px;
    height: 105px;
    // background-color: #fff;
    opacity: 0.4;
    border-left: $line-width double $main-red;
    position: absolute;
    bottom: -100px;
    right: calc(50% - 4px);
    transform: translate(50%);
    &::before {
      @include borderFill;
    transition-delay: $transitionDelay;
    }
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &--odd {
    &::before {
      @include borderFill(0, 100%);
    transition-delay: $transitionDelay;
    }
    &::after {
      @include borderFill(-5px, -5px, 0%, 5px);
    }
    border-right: $line-width $line-type $main-red;
  }
  &--even {
    &::before {
      @include borderFill;
    transition-delay: $transitionDelay;
    }
    &::after {
      @include borderFill(-5px, -5px, 0%, 5px);
    }
    border-left: $line-width $line-type $main-red;
    & .section__text-wrapper {
      order: 2;
      @media screen and (max-width: 768px) {
        order: 0;
        // max-width: 100%;
      }
      & > .section__marker {
        left: calc(100% - 22px);
      }
    }
  }
}
.section__btn {
  @include btn(20px, 400px);
}
.section__icon {
  color: $main-red;
  font-size: 48px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__icon-text {
  display: block;
  background-color: $main-black;
  padding: 6px;
  border-radius: 50%;
  display: block;
  font-size: 16px;
  color: $text-color;
  @extend %start-2p;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 2;
}
.section__icon-wrapper {
  width: 40px;
  height: 40px;
  position: relative;
  // background-color: #fff;
}
.section__marker {
  z-index: 2;
  top: -22px;
  left: -18px;
  position: absolute;
}
.section__photo-wrapper {
  padding: 15px;
}
.section__img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border: 2px solid $main-red;
}
.section__text {
  @extend %montserrat;
  color: $text-color;
  margin-bottom: 20px;
  font-size: 20px;
  @media screen and (max-width: 468px) {
    font-size: 16px;
  }
}
.section__text-wrapper {
  padding: 15px;
  max-width: 60%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  @media screen and (max-width: 468px) {
    padding: 10px;
  }
}
