.main__section {
  position: relative;
  margin: 0 auto;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 1500px;
  // border-bottom: $line-width $line-type $main-red;
  border-top: $line-width $line-type $main-red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &--keyword {
    color: $main-red;
  }
  //   &--last {
  &--after {
    content: "";
    display: block;
    width: 50%;
    // height: 50px;
    // background-color: #fff;
    border-bottom: $line-width double $main-red;
    position: absolute;
    bottom: 0;
    right: 0;
    &::after {
      max-width: 100%;
      @include borderFillRight(0, 0, 0%, 5px);
      transition-delay: 6s;
    }
  }
  &--before {
    content: "";
    display: block;
    width: 5px;
    height: 105px;
    // background-color: #fff;
    opacity: 0.4;
    border-left: $line-width double $main-red;
    position: absolute;
    bottom: -100px;
    right: calc(50% - 4px);
    transform: translate(50%);
    &::before {
      @include borderFill;
      transition-delay: 8s;
    }
  }
  @media screen and (max-width: 768px) {
    flex-wrap: wrap;
  }
  &--odd {
    &::before {
      @include borderFill(0, 100%);
      transition-delay: 4s;
    }
    &::after {
      @include borderFill(-5px, -5px, 0%, 5px);
      transition-delay: 2s;
    }
    border-right: $line-width $line-type $main-red;
  }
  &--even {
    &::before {
      @include borderFill;
      transition-delay: 4s;
    }
    &::after {
      @include borderFillRight(-5px, -5px, 0%, 5px);
      transition-delay: 2s;
    }
    border-left: $line-width $line-type $main-red;
    & .section__text-wrapper {
      order: 2;
      @media screen and (max-width: 768px) {
        order: 0;
        // max-width: 100%;
      }
      & > .section__marker {
        left: calc(100% - 22px);
      }
    }
  }
}
.section__btn {
  @include btn(20px, 400px);
  margin: 30px auto;
}
.section__icon {
  color: $main-red;
  font-size: 48px !important;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.section__icon-text {
  display: block;
  background-color: $main-black;
  padding: 6px;
  border-radius: 50%;
  display: block;
  font-size: 16px;
  color: $text-color;
  @extend %start-2p;
  font-weight: 900;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // z-index: 2;
}
.section__icon-wrapper {
  width: 40px;
  height: 40px;
  position: relative;
  // background-color: #fff;
}
.section__marker {
  z-index: 2;
  top: -22px;
  left: -18px;
  position: absolute;
}
#fishing-site, #console  {
  & .section__photo-wrapper {
    @media screen and (min-width: 769px) {
      max-width: 35%;
    }
  }
}
.section__photo-wrapper {
  padding: 15px;
}
.section__img {
  object-fit: contain;
  height: 100%;
  width: 100%;
  border: 2px solid $main-red;
  margin: 10px auto;
}
.section__text {
  @extend %montserrat;
  color: $text-color;
  margin-bottom: 20px;
  font-size: 20px;
  & span {
    color: $main-red;
  }
  & .section__headline {
    color: $main-red;
    @extend %start-2p;
    font-size: 16px;
    &--main {
      font-size: 20px;
      text-align: center;
      display: block;
    }
  }
  @media screen and (max-width: 468px) {
    font-size: 16px;
  }
}
.section__text-wrapper {
  padding: 15px;
  max-width: 60%;
  margin: 0 auto;
  @media screen and (max-width: 768px) {
    max-width: 100%;
  }
  @media screen and (max-width: 468px) {
    padding: 10px;
  }
}
.section__input {
  background-color: $main-black;
  max-width: 350px;
  width: 100%;
  line-height: 0;
  padding: 2px 10px 5px;
  color: $text-color;
  font-size: 22px;
  border: 2px solid $main-red;
  display: block;
  transition: $linear;
  margin: -4px 0 0 15px;
  &::placeholder{
    font-size: 18px;
  }
  @extend %montserrat;
  &:focus {
    border: 2px solid $text-color;
  }
}
.section__copied-text {
  background-color: $main-black;
  position: relative;
  display: block;
    max-width: 350px;
    margin: 20px 15px 20px;

  & .section__textarea {
    padding: 15px 40px 15px 20px;
    color: $text-color;
    font-size: 12px;
    @extend %start-2p;
    resize: none;
    width: 100%;
    background-color: transparent;
    overflow: hidden;
    border: 2px solid $main-red;
  }
  & span {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
  }
}
