@import './reset';
@import './variables';
@import './introduction';
@import './headerLogo.scss';
@import './header.scss';
@import './adviceSection.scss';
@import './main-content.scss';
@import './aboutUs.scss';
@import './final_section';
@import './footer.scss';


body {
  background-color: $main-black;
}
footer,
html,
header,
main {
  margin: 0;
  overflow-x: hidden;
}
section{
  transition: 1000ms linear;
}
.main{
  padding: 25px;
}
.aside__overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  display: none;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
  transition: $linear;
  opacity: 0;
  transform: scale(0);
  cursor: pointer;
}
.bar--open + .aside__overlay {
  display: block;
  opacity: 1;
  transform: scale(1);
}