@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600&display=swap');

%montserrat {
  font-family: 'Montserrat Alternates', sans-serif;
}

%start-2p {
  font-family: 'Press Start 2P', cursive;
}

$line-width: 5px;
$line-type: double;
$text-color: #ccc;
$main-red: #ff111c;
$main-black: #222;
$linear: linear 200ms;
$linearLong: linear 2000ms;
$transitionDelay: 2000ms;
$flashing-timing: cubic-bezier(0.34, -0.55, 0.67, 1.43) 300ms;
// $flashing-timing-long: cubic-bezier(0.89, 0.69, 0.56, 1.93) 6000ms;

@mixin borderFill ($top: 0, $left: -5px, $width: 5px, $height: 0%) {
  content: '';
    display: block;
    position: absolute;
    width: $width;
    top: $top;
    left: $left;
    height: $height;
    background-color: $main-red;
    border-radius: 5px;
    transition: $linearLong;
}

.appearBorder::before {
  height: 100% !important;
}

.appearBorder::after {
  width: calc(100% + 10px) !important;
}

.appearBorder--specialWidth::after {
  width: 100% !important;
}

.appearBorder--specialHeight::after {
  top: 74px !important;
  height: 157px !important;
}

@mixin btn($fz: 22px, $width: 220px) {
  @extend %start-2p;
  font-size: $fz;
  text-align: center;
  background-color: $main-red;
  // display: block;
  max-width: $width;
  // height: 50px;
  padding: 6px 10px 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  border-radius: 5px;
  transition: $linear;
  color: $text-color;
  margin: 0 auto;
  & > span {
    position: relative;
    left: 3px;
    top: 2px;
    & span {
      position: relative;
      font-size: 28px;
      right: 2px;
      // top: -1px;
    }
  }
  &:hover {
    color: $main-black;
    background-color: $text-color;
  }
}
