<section class="about" id="team">
  <h2 class="about__title title">Трішки про нас</h2>
  <div class="about__wrapper  bounceInRight wow">
    <div class="about__card">
      <div class="hexagon-wrap">
        <div class="hexagon">
          <div class="img__wrapper">
            <div class="hexagon__links-wrapper hexagon__links-wrapper--small">
              <a href="https://github.com/DmytroKolisnyk2" target="_blank" class="img__link"><img src="./images/github_icon.png" alt="github" class="img"></a>
              <a href="mailto:d.s.kolisnyk@i.ua" target="_blank" class="img__link"><img class="img" src="./images/gmail_icon.png" alt="email"></a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="about__card__title title">Dmytro Kolysnik</h3>
      <p class="about__card__text">TeamLead Lorem ipsum</p>
    </div>
    <div class="about__card">
      <div class="hexagon-wrap">
        <div class="hexagon">
          <div class="img__wrapper">
            <div class="hexagon__links-wrapper">
              <a href="https://github.com/Igoryakib" target="_blank" class="img__link"><img src="./images/github_icon.png" alt="github" class="img"></a>
              <a href="mailto:Igoryakib@gmail.com" target="_blank" class="img__link"><img class="img" src="./images/gmail_icon.png" alt="email"></a>
              <a href="https://www.instagram.com/igoryakiblive/" target="_blank" class="img__link"><img class="img" src="./images/instagram_icon.png" alt="instagram"></a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="about__card__title title">Igor Yakibiuk</h3>
      <p class="about__card__text">Дуже крутий стратег</p>
    </div>
    <div class="about__card">
      <div class="hexagon-wrap">
        <div class="hexagon">
          <div class="img__wrapper">
            <div class="hexagon__links-wrapper hexagon__links-wrapper--small">
              <a href="https://github.com/MaxPopsuy" target="_blank" class="img__link"><img src="./images/github_icon.png" alt="github" class="img"></a>
              <a href="mailto:maxim09p@gmail.com" target="_blank" class="img__link" ><img class="img" src="./images/gmail_icon.png" alt="email"></a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="about__card__title title">Max Popsuy</h3>
      <p class="about__card__text">I`m engineer</p>
    </div>
  </div>
</section>