<section class="about" id="team">
  <h2 class="about__title title">About us(sus)</h2>
  <div class="about__wrapper  bounceInRight wow">
    <div class="about__card">
      <div class="hexagon-wrap">
        <div class="hexagon">
          <div class="img__wrapper">
            <div class="hexagon__links-wrapper">
              <a href="#" class="img__link"><img src="./images/github_icon.png" alt="github" class="img"></a>
              <a href="#" class="img__link"><img class="img" src="./images/gmail_icon.png" alt="email"></a>
              <a href="#" class="img__link"><img class="img" src="./images/instagram_icon.png" alt="instagram"></a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="about__card__title title">Dmytro Kolysnik</h3>
      <p class="about__card__text">DoDo</p>
    </div>
    <div class="about__card">
      <div class="hexagon-wrap">
        <div class="hexagon">
          <div class="img__wrapper">
            <div class="hexagon__links-wrapper">
              <a href="#" class="img__link"><img src="./images/github_icon.png" alt="github" class="img"></a>
              <a href="#" class="img__link"><img class="img" src="./images/gmail_icon.png" alt="email"></a>
              <a href="#" class="img__link"><img class="img" src="./images/instagram_icon.png" alt="instagram"></a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="about__card__title title">Igor Yak</h3>
      <p class="about__card__text">WWW</p>
    </div>
    <div class="about__card">
      <div class="hexagon-wrap">
        <div class="hexagon">
          <div class="img__wrapper">
            <div class="hexagon__links-wrapper">
              <a href="#" class="img__link"><img src="./images/github_icon.png" alt="github" class="img"></a>
              <a href="#" class="img__link"><img class="img" src="./images/gmail_icon.png" alt="email"></a>
              <a href="#" class="img__link"><img class="img" src="./images/instagram_icon.png" alt="instagram"></a>
            </div>
          </div>
        </div>
      </div>
      <h3 class="about__card__title title">Max Popsuy</h3>
      <p class="about__card__text">heeeeee</p>
    </div>
  </div>
</section>