<section class="section__advice">
  <h2 class="section__advice__title">поради з кібербезпеки</h2>
  <div class="section__advice__wrapper__content">
    <div class="block__line"></div>
    <div class="advice__content__element">
      <div class="block">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 252">
          <path
            d="M75.173,251.959L0,126.152l74.827-126l150-0.193L300,125.766l-74.827,126L75.173,251.959z"
          />
        </svg>
        <h4 class="block__text">1</h4>
      </div>
      <div class="advice__content__pair1 advice__content__pair">
        <div class="wow bounceInLeft pair1__wrapper__img">
          <img class="pair1__img " src="./images/cyberSecurityImg1.jpg" alt="cyberSecurityImg" />
        </div>
        <p class="pair1__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cumque minus,
          perferendis dolor, nostrum eum eius soluta vitae, saepe voluptas est? Quaerat non vitae
          blanditiis perspiciatis omnis veritatis optio laboriosam pariatur voluptate hic sequi
          totam vel reprehenderit, a doloribus explicabo amet ut id, itaque illo officiis ullam
          tempora. Officiis, dolores!
        </p>
      </div>
    </div>
    <div class="advice__content__element">
      <div class="block">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 252">
          <path
            d="M75.173,251.959L0,126.152l74.827-126l150-0.193L300,125.766l-74.827,126L75.173,251.959z"
          />
        </svg>
        <h4 class="block__text">2</h4>
      </div>
      <div class="advice__content__pair2 advice__content__pair">
        <div class="wow bounceInRight pair1__wrapper__img pair2__wrapper__img">
          <img class="pair1__img " src="./images/cyberSecurityImg2.jpg" alt="cyberSecurityImg" />
        </div>
        <p class="pair1__text pair2__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cumque minus,
          perferendis dolor, nostrum eum eius soluta vitae, saepe voluptas est? Quaerat non vitae
          blanditiis perspiciatis omnis veritatis optio laboriosam pariatur voluptate hic sequi
          totam vel reprehenderit, a doloribus explicabo amet ut id, itaque illo officiis ullam
          tempora. Officiis, dolores!
        </p>
      </div>
    </div>
    <div class="advice__content__element">
      <div class="block">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 252">
          <path
            d="M75.173,251.959L0,126.152l74.827-126l150-0.193L300,125.766l-74.827,126L75.173,251.959z"
          />
        </svg>
        <h4 class="block__text">3</h4>
      </div>
      <div class="advice__content__pair3 advice__content__pair">
        <div class="wow bounceInLeft pair1__wrapper__img">
          <img class="pair1__img " src="./images/cyberSecurityImg3.jpg" alt="cyberSecurityImg" />
        </div>
        <p class="pair1__text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda cumque minus,
          perferendis dolor, nostrum eum eius soluta vitae, saepe voluptas est? Quaerat non vitae
          blanditiis perspiciatis omnis veritatis optio laboriosam pariatur voluptate hic sequi
          totam vel reprehenderit, a doloribus explicabo amet ut id, itaque illo officiis ullam
          tempora. Officiis, dolores!
        </p>
      </div>
    </div>

    
  </div>
</section>
<section class="final">
    <div class="final__wrapper">
        <h2 class="final__title title">Final</h2>
        <p class="final__text">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, sint. Quod exercitationem nesciunt aliquam,
            dolorum consequuntur cumque corporis repellat veniam.
        </p>
    </div>
</section>