<section class="section__advice" id="advices">
  <h2 class="section__advice__title">поради з кібербезпеки</h2>
  <div class="section__advice__wrapper__content">
    <div class="block__line"></div>
    <div class="advice__content__element">
      <div class="block">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 252">
          <path
            d="M75.173,251.959L0,126.152l74.827-126l150-0.193L300,125.766l-74.827,126L75.173,251.959z"
          />
        </svg>
        <h4 class="block__text">1</h4>
      </div>
      <div class="advice__content__pair1 advice__content__pair">
        <div class="wow bounceInLeft pair1__wrapper__img">
          <img class="pair1__img" src="./images/cyberSecurityImg1.jpg" alt="cyberSecurityImg" />
        </div>
        <p class="pair1__text">
          <span class="pair1__text__title pair1__text__title--font">Покупки в інтернеті:</span>
          <br /><br/>
          <span class="pair1__text__title">Порада 1:</span> Звертайте увагу на адресу магазину.
          Шахраї доволі часто додають в url ще якесь слово, наприклад, замість rozetka.com пишуть
          rozytka.com або rozetra.best.com <br /><br/>
          <span class="pair1__text__title">Порада 2:</span> Оплата товару. Шахраї не люблять
          електронних платежів: їх легко відстежити. Якщо вас просять оплатити готівкою або
          переказом на іншу карту варто насторожитись. <br /><br/>
          <span class="pair1__text__title">Порада 3:</span> Звертайте увагу на відгуки. Перед
          здійсненням покупки, не лінуйтесь пошукайте відгуки про компанію в Google, соцмережах
          тощо.
        </p>
      </div>
    </div>
    <div class="advice__content__element">
      <div class="block">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 252">
          <path
            d="M75.173,251.959L0,126.152l74.827-126l150-0.193L300,125.766l-74.827,126L75.173,251.959z"
          />
        </svg>
        <h4 class="block__text">2</h4>
      </div>
      <div class="advice__content__pair2 advice__content__pair">
        <div class="wow bounceInRight pair1__wrapper__img pair2__wrapper__img">
          <img class="pair1__img" src="./images/cyberSecurityImg2.jpg" alt="cyberSecurityImg" />
        </div>
        <p class="pair1__text pair2__text">
          <span class="pair1__text__title pair1__text__title--font">Соцмережі:</span>
          <br /><br/>
          <span class="pair1__text__title">Порада 1:</span> Не вказуйте точні дані свого місце
          проживання (будинок, вулиця); цінну інформацію (пароолі, коди, фінансова інформація).
          <br /><br/>
          <span class="pair1__text__title">Порада 2:</span> Для максимального захисту свого профілю
          вмикайте двофакторну авторизацію, а також придумувати складні паролі з використанням цифр,
          букв великих і малих.
        </p>
      </div>
    </div>
    <div class="advice__content__element">
      <div class="block">
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 252">
          <path
            d="M75.173,251.959L0,126.152l74.827-126l150-0.193L300,125.766l-74.827,126L75.173,251.959z"
          />
        </svg>
        <h4 class="block__text">3</h4>
      </div>
      <div class="advice__content__pair3 advice__content__pair">
        <div class="wow bounceInLeft pair1__wrapper__img">
          <img class="pair1__img" src="./images/cyberSecurityImg3.jpg" alt="cyberSecurityImg" />
        </div>
        <p class="pair1__text">
          <span class="pair1__text__title pair1__text__title--font">Віруси та вимагачі:</span><br /><br/>
          <span class="pair1__text__title">Порада 1:</span> користуйтесь антивірусом системним
          заводським або Avast, Kasperskiy тощо. <br /><br/>
          <span class="pair1__text__title">Порада 2:</span> Не завантажуйте дивні програми, які
          викликають підозру. Не переходьте за сторонніми посиланнями. <br /><br/>
          <span class="pair1__text__title">Порада 3:</span> Оновлюйте браузер, систему і програми,
          адже старіші версії більш вразливі ніж нові. <br /><br/>
          <span class="pair1__text__title">Порада 4:</span> Проводьте регулярні перевірки вашого
          пристрою на віруси, якщо ви замітили, що ваш комп'ютер повільно працює і це не залежить
          від мережі "Одним словом тупить" треба провести сканування.
        </p>
      </div>
    </div>
  </div>
</section>
<section class="final">
  <div class="final__wrapper">
    <h2 class="final__title title">Final</h2>
    <p class="final__text">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, sint. Quod exercitationem
      nesciunt aliquam, dolorum consequuntur cumque corporis repellat veniam.
    </p>
  </div>
</section>
