<footer class="cyberSecurity__footer">
    <div class="footer__content">
        <div class="content__aboutUs content--styles">
            <h3 class="footer__title footer__title--hover content--margin"><a class="title__text" href="#"><span class="footer__title__word">by</span><span
                        class="title__letter title__letter1 title1">h</span><span
                        class="title__letter title__letter2 title1">o</span><span
                        class="title__letter title__letter3 title1">p</span><span
                        class="title__letter title__letter2 title1">e</span><span
                        class="title__letter title__letter4 title1">t</span><span
                        class="title__letter title__letter1 title1">e</span><span
                        class="title__letter title__letter3 title1">a</span><span
                        class="title__letter title__letter2 title1">m</span>
                    <span></a></h3>
                <h4 class="footer__title">використані джерела:</h4>
                <p><a class="content__link" target="_blank" href="#">Документ</a></p>
        </div>
        <div class="content__anotherProjects content--styles">
            <h4 class="footer__title">наші проекти:</h4>
            <div class="source__content">
                <ul>
                    <li><a class="content__link" target="_blank" href="https://dmytrokolisnyk2.github.io/HOPEteam_portfolio/">HopePortfolio</a></li>
                <li><a class="content__link" target="_blank" href="https://dmytrokolisnyk2.github.io/HOPE_project/">BrawlStars Card Game</a></li>
                <li><a class="content__link" target="_blank" href="https://dmytrokolisnyk2.github.io/filmSearch/dist/">Film Search</a></li>
                </ul>
                <ul>
                    <li><a class="content__link content__link--uppercase" target="_blank" href="https://dmytrokolisnyk2.github.io/GameOFTeens_JAVASCRIPT/index.html">it test</a></li>
                <li><a class="content__link" target="_blank" href="https://dmytrokolisnyk2.github.io/test-hakaton/index.html">Trello by HOPE</a></li>
                <li><a class="content__link" target="_blank" href="https://dmytrokolisnyk2.github.io/test-hackathon-2.0/index.html">Tic-Tac-Toe</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>