<footer class="cyberSecurity__footer">
    <div class="footer__content">
        <div class="content__aboutUs">
            <h3 class="footer__title"><span class="footer__title__word">by</span><span class="title__letter title__letter1 title1">h</span><span class="title__letter title__letter2 title1">o</span><span
                class="title__letter title__letter3 title1">p</span><span class="title__letter title__letter2 title1">e</span><span
                class="title__letter title__letter4 title1">t</span><span class="title__letter title__letter1 title1">e</span><span
                class="title__letter title__letter3 title1">a</span><span class="title__letter title__letter2 title1">m</span><span</h3>
        </div>
        <div class="content__source">
            <h4 class="footer__title">Джерела:</h4>
            <ul class="source__content">
                <li><a class="content__link" href="#">lorem</a></li>
                <li><a class="content__link" href="#">lorem</a></li>
                <li><a class="content__link" href="#">lorem</a></li>
                <li><a class="content__link" href="#">lorem</a></li>
            </ul>
        </div>
        <div class="content__anotherProjects">
            <h4 class="footer__title">наші проекти:</h4>
            <ul class="source__content">
                <li><a class="content__link" href="#">lorem</a></li>
                <li><a class="content__link" href="#">lorem</a></li>
                <li><a class="content__link" href="#">lorem</a></li>
                <li><a class="content__link" href="#">lorem</a></li>>
            </ul>
        </div>
    </div>
</footer>