<div class="header__wrapper">
    <header class="header">
        <a class="header__logo" href="#">
            <div class="logo__img__container">
                <img class="logo__img" src="./images/logo.gif" alt="logo_gif">
                <!-- <span class="logo__img__element">&#60;&#8725;&#62;</span> -->
                <span class="material-icons logo__img__element">bug_report</span>
            </div>
            <h1 class="logo__title">
                <span class="title__letter title__letter1">к</span><span class="title__letter title__letter2">і</span><span
                    class="title__letter title__letter3">б</span><span class="title__letter title__letter2">е</span><span
                    class="title__letter title__letter4">р</span><span class="title__letter title__letter1">б</span><span
                    class="title__letter title__letter3">е</span><span class="title__letter title__letter2">з</span><span
                    class="title__letter title__letter3">п</span><span class="title__letter title__letter4">е</span><span
                    class="title__letter title__letter4">к</span><span class="title__letter title__letter1">а</span>
            </h1>
        </a>
    
        <div class="header__burger burger">
            <span class="burger__part--1"></span>
            <span class="burger__part--2"></span>
            <span class="burger__part--3"></span>
        </div>
        <nav class="header__menu menu bar">
            <ul id="menu" class="menu__list list">
                <li class="list__item active">
                    <a href="#start" class="list__link">Вступ</a>
                </li>
                <li class="list__item">
                    <a href="#journey" class="list__link">Мандрівка</a>
                </li>
                <li class="list__item">
                    <a href="#advices" class="list__link">Поради</a>
                </li>
                <li class="list__item">
                    <a href="#team" class="list__link">Про нас</a>
                </li>
            </ul>
        </nav>
        <div class="aside__overlay"></div>
    
    </header>
</div>