<section id="start" class="introduction">
 <div class="introduction__content-wrapper">
    <div class="introduction__title-wrapper">
      <h2 class="introduction__title">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum
        similique.
      </h2>
    </div>
      <img class="introduction__img" src="./images/hacker-transparent.png" alt="no-img" />
    <div class="introduction__btn-wrapper">
      <a data-wow-delay='2s' href="#journey" class="introduction__btn wow pulse">
        <span>по<span>ї</span>хали!</span>
      </a>
      <div class="introduction__border"></div>
    </div>
 </div>
</section>
