<main class="main">
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
	<h2 class="title">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dignissimos eaque accusamus illum similique.</h2>
</main>