<section class="main__section main__section--odd">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div id="journey" class="section__icon-wrapper">
        <span class="section__icon-text">1</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
    <span class="pair1__text__title pair1__text__title--font">Вимагачі</span> - це злоякісні прогами, які після попадання на пистрій
      шифрують дані або функціонал комп'ютера і відображають вимогу про викуп.
      <br /><br />
     <span class="pair1__text__title pair1__text__title--font">Як розпізнати прогами-вимагачі:</span>
      <br />
      У більшості випадків програма відображає повідомлення про блок комп'ютера
      або додає текстовий файл з повідомленням про блок.
      <br /><br />
     <span class="pair1__text__title pair1__text__title--font">План дій програми-вимагача:</span>
      <br />
      1) Шифрування диску
      <br />
      2) Блокування екрану
      <br />
      3) Шифрування даних
      <br /><br />
     <span class="pair1__text__title pair1__text__title--font">Як захиститись?</span>
      <br />
      1) Створюйте резервні копії даних
      <br />
      2) Оновлюйте ПЗ, включно з операційною системою
    </p>
    <button type="button" class="wow pulse section__btn"><span>спробувати</span></button>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/sectionImg1.png" class="wow bounceInLeft section__img" alt="no-img" />
  </div>
</section>
<section class="main__section main__section--even">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">2</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ratione quis, doloribus maxime
      odio molestias sit aliquid eius ducimus temporibus in repellat iure doloremque commodi magnam
      tempore earum animi modi? Sequi corrupti quidem deserunt eius dolores, quod consectetur quas
      asperiores necessitatibus, totam et numquam ab omnis repellat nihil! Nihil vero culpa ut
      tempora atque voluptatem praesentium, facere ipsa, rem fugit totam ea quas eveniet debitis
      eaque porro amet aliquid dolores assumenda. Quasi totam eum vitae excepturi, veniam voluptas
      suscipit illo. Inventore similique iusto distinctio, nesciunt laboriosam repudiandae iure
      accusantium dolore.
    </p>
    <button type="button" class="wow pulse section__btn"><span>спробувати</span></button>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/instagram.png" class="wow bounceInRight section__img" alt="no-img" />
  </div>
</section>
<section class="main__section main__section--last main__section--odd">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">3</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Culpa ratione quis, doloribus maxime
      odio molestias sit aliquid eius ducimus temporibus in repellat iure doloremque commodi magnam
      tempore earum animi modi? Sequi corrupti quidem deserunt eius dolores, quod consectetur quas
      asperiores necessitatibus, totam et numquam ab omnis repellat nihil! Nihil vero culpa ut
      tempora atque voluptatem praesentium, facere ipsa, rem fugit totam ea quas eveniet debitis
      eaque porro amet aliquid dolores assumenda. Quasi totam eum vitae excepturi, veniam voluptas
      suscipit illo. Inventore similique iusto distinctio, nesciunt laboriosam repudiandae iure
      accusantium dolore.
    </p>
    <button type="button" class="wow pulse section__btn"><span>спробувати</span></button>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/instagram.png" class="wow bounceInLeft section__img" alt="no-img" />
  </div>
  <div class="main__section--before"></div>
  <div class="main__section--after"></div>
</section>
