<section class="main__section main__section--odd" id="fishing">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div id="journey" class="section__icon-wrapper">
        <span class="section__icon-text">1</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
    <span class="pair1__text__title pair1__text__title--font">Вимагачі</span> - це злоякісні прогами, які після попадання на пистрій
      шифрують дані або функціонал комп'ютера і відображають вимогу про викуп.
      <br /><br />
     <span class="pair1__text__title pair1__text__title--font">Як розпізнати прогами-вимагачі:</span>
      <br />
      У більшості випадків програма відображає повідомлення про блок комп'ютера
      або додає текстовий файл з повідомленням про блок.
      <br /><br />
     <span class="pair1__text__title pair1__text__title--font">План дій програми-вимагача:</span>
      <br />
      1) Шифрування диску
      <br />
      2) Блокування екрану
      <br />
      3) Шифрування даних
      <br /><br />
     <span class="pair1__text__title pair1__text__title--font">Як захиститись?</span>
      <br />
      1) Створюйте резервні копії даних
      <br />
      2) Оновлюйте ПЗ, включно з операційною системою
    </p>
    <button type="button" class="wow pulse section__btn"><span>спробувати</span></button>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/sectionImg1.png" class="wow bounceInLeft section__img" alt="no-img" />

<!--   <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/instagram.png" data-caption="Фейковий instagram"
      ><img src="./images/instagram.png" class="wow bounceInLeft section__img" alt="no-img"
    /></a>
    <a href="./images/forbidden.png" data-caption="Сайт заблокований браузером">
      <img src="./images/forbidden.png" class="wow bounceInLeft section__img" alt="no-img"
    /></a> -->
  </div>
</section>
<section class="main__section main__section--even" id="trojans">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">2</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      <span class="main__section--keyword">Трояни це один з різновидів шкідницьких програм.</span> На відміну від вірусів та хробаків, які розповсюджуються самостійно, троян розповсюджується людьми. Тому він і має таку назву.  <br><br><span class="main__section--keyword">Троян можна отримати від: завантаження підозрілих файлів та перехід по підозрілим посиланням.</span> В основному трояни розповсюджуються за допомогою <span class="main__section--keyword">соціальної інженеріі.</span>  <br><br>Одним з найпопулярніших  троянів є njRAT, DarkCometRAT та RMS box. Злодій створює троян через цю програму, та методами соціальної інженерії(Фішинг тощо) змушує жертву завантажити троян під виглядом безпечної програми.  <span class="main__section--keyword">Після завантаження злодій отримує контроль над комп'ютером, та може робити з ним все що забажає.</span> Самий розповсюджений сценарій - це зараження комп'ютера та знущання над жертвою(Скрімерами, діалоговими вікнами, видалення важливих файлів). 
      <br><br>
      <span class="main__section--keyword">Щоб видалити такий троян, потрібно вимкнути інтернет, перейти в безпечний режим</span>, видалити файли які ви попередньо завантажили, почистити автозапуск(Використовуйте CCleaner, або Таск менеджер), далі можете вийти з безпечного режиму та залишається лиш знайти його та завершити процес трояну(якщо це не було зроблено до безпечного режиму). Треба завантажити програму Process Hacker 2, за допомогою якої можна легко виявити троян, <span class="main__section--keyword">трояни зазвичай маскуються системними процесами, на відміну від системних процесів, трояни та віруси зазвичай відкриті від імені Адміністратора.</span>
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank" class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=qgbLCy9wHpI" target="_blank" class="wow pulse section__btn"><span>Відео</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/rat_functions.png" class="wow bounceInRight section__img" alt="Функції трояну віддаленного доступу" />
    <img src="./images/rat_functions2.png" class="wow bounceInRight section__img" alt="Функції трояну віддаленного доступу" />
    <img src="./images/rat_functions3.png" class="wow bounceInRight section__img" alt="Доступ до пк жертви" />
<!--   <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/forbidden.png" data-caption="Сайт заблокований браузером">
      <img src="./images/forbidden.png" class="wow bounceInLeft section__img" alt="no-img" /></a> -->
  </div>
</section>
<section class="main__section main__section--odd" id="miners">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">3</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      Вірус-майнер це вірус, який <span class="main__section--keyword">використовує ПК жертви в цілях заробити
        криптовалюту</span>, зазвичай використовує 10% потужності комп'ютера юзера, а <span
        class="main__section--keyword">коли юзер не використовує ПК, то усі 90%</span>.
      <br><br>
      Як перевірити свій комп'ютер на майнери?
      <br><br>
      1. <span class="main__section--keyword">Завантажити антивірус Eset. адже більшість майнерів є у базі даних
        Eset</span><br>
      2. Якщо ваш комп'ютер висне, а коли ви вимикаєте інтернет то перестає, то мабуть це майнер<br>
      3. Також при відкритому диспетчеру завдань, майнер не працює
      <br><br>
      Видалення майнера довгий процес, тому можете подивитись відео де все роз'яснять, а також не забудьте завантажити
      Process Hacker 2
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank"
      class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=qf_ycMiRT-Y" target="_blank"
      class="wow pulse section__btn"><span>Відео</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/virusminer2.jpg" class="wow bounceInLeft section__img" alt="Картинка на тему майнера" />
    <img src="./images/virusminer.jpg" class="wow bounceInLeft section__img" alt="Картинка на тему майнера" />
  </div>
</section>
<section class="main__section main__section--even" id="ransomware">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">4</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      <span class="main__section--keyword">Вимагачі - це злоякісні прогами, які після попадання на пристрій шифрують
        дані або функціонал комп'ютера і відображають вимогу про викуп.</span>
      <br>
      Як розпізнати прогами-вимагачі:<br>
      У більшості випадків програма відображає повідомлення про блок комп'ютера
      або додає текстовий файл з повідомленням про блок.<br>
      <span class="main__section--keyword">План дій програми-вимагача:</span>
      <br><br>
      1) Шифрування диску
      <br>
      2) Блокування екрану
      <br>
      3) Шифрування даних
      <br><br>
      <span class="main__section--keyword">Як захиститись?</span>
      <br><br>
      1) Створюйте резервні копії даних
      <br>
      2) Оновлюйте ПЗ, включно з операційною системою
      <br>
      3) Завжди тримайте під рукою допоміжні програми(processhacker2, CCleaner тощо)
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank"
      class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=gnQ2lrtJewU" target="_blank" class="wow pulse section__btn"><span>Відео про
        віруси</span></a>
    <a href="https://www.youtube.com/watch?v=tHmHGvxFqaQ" target="_blank" class="wow pulse section__btn"><span>Відео як
        видалити</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/ransomware.jpg" class="wow bounceInRight section__img" alt="no-img" />
  </div>
</section><section class="main__section main__section--odd" id="miners">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">5</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      Вірус-майнер це вірус, який <span class="main__section--keyword">використовує ПК жертви в цілях заробити
        криптовалюту</span>, зазвичай використовує 10% потужності комп'ютера юзера, а <span
        class="main__section--keyword">коли юзер не використовує ПК, то усі 90%</span>.
      <br><br>
      Як перевірити свій комп'ютер на майнери?
      <br><br>
      1. <span class="main__section--keyword">Завантажити антивірус Eset. адже більшість майнерів є у базі даних
        Eset</span><br>
      2. Якщо ваш комп'ютер висне, а коли ви вимикаєте інтернет то перестає, то мабуть це майнер<br>
      3. Також при відкритому диспетчеру завдань, майнер не працює
      <br><br>
      Видалення майнера довгий процес, тому можете подивитись відео де все роз'яснять, а також не забудьте завантажити
      Process Hacker 2
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank"
      class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=qf_ycMiRT-Y" target="_blank"
      class="wow pulse section__btn"><span>Відео</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/virusminer2.jpg" class="wow bounceInLeft section__img" alt="Картинка на тему майнера" />
    <img src="./images/virusminer.jpg" class="wow bounceInLeft section__img" alt="Картинка на тему майнера" />
  </div>
</section>
<section class="main__section main__section--even" id="ransomware">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">6</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      <span class="main__section--keyword">Вимагачі - це злоякісні прогами, які після попадання на пристрій шифрують
        дані або функціонал комп'ютера і відображають вимогу про викуп.</span>
      <br>
      Як розпізнати прогами-вимагачі:<br>
      У більшості випадків програма відображає повідомлення про блок комп'ютера
      або додає текстовий файл з повідомленням про блок.<br>
      <span class="main__section--keyword">План дій програми-вимагача:</span>
      <br><br>
      1) Шифрування диску
      <br>
      2) Блокування екрану
      <br>
      3) Шифрування даних
      <br><br>
      <span class="main__section--keyword">Як захиститись?</span>
      <br><br>
      1) Створюйте резервні копії даних
      <br>
      2) Оновлюйте ПЗ, включно з операційною системою
      <br>
      3) Завжди тримайте під рукою допоміжні програми(processhacker2, CCleaner тощо)
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank"
      class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=gnQ2lrtJewU" target="_blank" class="wow pulse section__btn"><span>Відео про
        віруси</span></a>
    <a href="https://www.youtube.com/watch?v=tHmHGvxFqaQ" target="_blank" class="wow pulse section__btn"><span>Відео як
        видалити</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/ransomware.jpg" class="wow bounceInRight section__img" alt="no-img" />
  </div>
</section>
<section class="main__section main__section--odd main__section--last" id="ransomware">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">7</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      Вимагачі - це злоякісні прогами, які після попадання на пристрій
      шифрують дані або функціонал комп'ютера і відображають вимогу про викуп.
      Як розпізнати прогами-вимагачі:
      У більшості випадків програма відображає повідомлення про блок комп'ютера
      або додає текстовий файл з повідомленням про блок.
      <br>
      План дій програми-вимагача:
      <br><br>
      1) Шифрування диску
      <br>
      2) Блокування екрану
      <br>
      3) Шифрування даних
      <br><br>
      Як захиститись?
      <br><br>
      1) Створюйте резервні копії даних
      <br>
      2) Оновлюйте ПЗ, включно з операційною системою
      <br>
      3) Завжди тримайте під рукою допоміжні програми(processhacker2, CCleaner тощо)
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank" class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=gnQ2lrtJewU" target="_blank" class="wow pulse section__btn"><span>Відео про віруси</span></a>
    <a href="https://www.youtube.com/watch?v=tHmHGvxFqaQ" target="_blank" class="wow pulse section__btn"><span>Відео як видалити</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/ransomware.jpg" class="wow bounceInLeft section__img" alt="Приклад " />
  </div>
  <div class="main__section--before"></div>
  <div class="main__section--after"></div>
</section>
