<section class="main__section main__section--even" id="trojans">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">4</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      <span class="section__headline section__headline--main">Віруси</span> <br />
      Існує багато видів вірусів, найпоширеніші з них: <br />
      1) Трояни<br />
      2) Віруси-блокувальник<br />
      3) Вірус-хробак<br />
      4) Віруси-шпигуни<br />
      5) Віруси зомбі тощо.<br /><br />
      Ми розглянемо деякі із них і розпочнемо із <span>Троянів</span>. <br /><br />
      <span class="section__headline">Трояни</span> - це один з різновидів шкідницьких програм. На
      відміну від вірусів та хробаків, які розповсюджуються самостійно, троян розповсюджується
      людьми. Тому він і має таку назву. <br /><br />
      Троян можна отримати від: завантаження підозрілих файлів та перехід по ненадійним посиланням.
      В основному трояни розповсюджуються за допомогою
      <span>соціальної інженеріі.</span> <br /><br />Одним з найпопулярніших троянів є Pinch, TDL-4
      та Trojan <br /><br />
      Злодій методами соціальної інженерії (Фішинг тощо) змушує жертву завантажити троян під
      виглядом безпечної програми. Після завантаження злодій отримує <span>повний</span>
      контроль над комп'ютером, та може робити з ним все що забажає.
      <br /><br />
      Трояни зазвичай маскуються системними процесами, на відміну від системних процесів, трояни та
      віруси зазвичай відкриті від імені <span>Адміністратора</span>.
    </p>
  </div>

  <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/rat_functions2.png" data-caption="Інформація про комп'ютер жертви">
      <img
        src="./images/rat_functions2.png"
        class="wow bounceInRight section__img"
        alt="Функції трояну віддаленного доступу"
    /></a>
    <a href="./images/rat_functions3.png" data-caption="Екран жертви трояну віддаленого доступу">
      <img
        src="./images/rat_functions3.png"
        class="wow bounceInRight section__img"
        alt="Доступ до пк жертви"
      />
    </a>
  </div>
</section>
