<section class="main__section main__section--even" id="ransomware">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">4</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      <span class="main__section--keyword">Вимагачі - це злоякісні прогами, які після попадання на пристрій шифрують
        дані або
        функціонал комп'ютера і відображають вимогу про викуп.</span>
      <br />
      Як розпізнати прогами-вимагачі:<br />
      У більшості випадків програма відображає повідомлення про блок комп'ютера або додає текстовий
      файл з повідомленням про блок.<br />
      <span class="main__section--keyword">План дій програми-вимагача:</span>
      <br /><br />
      1) Шифрування диску
      <br />
      2) Блокування екрану
      <br />
      3) Шифрування даних
      <br /><br />
      <span class="main__section--keyword">Як захиститись?</span>
      <br /><br />
      1) Створюйте резервні копії даних
      <br />
      2) Оновлюйте ПЗ, включно з операційною системою
      <br />
      3) Завжди тримайте під рукою допоміжні програми(processhacker2, CCleaner тощо)
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank"
      class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=gnQ2lrtJewU" target="_blank" class="wow pulse section__btn"><span>Відео про
        віруси</span></a>
    <a href="https://www.youtube.com/watch?v=tHmHGvxFqaQ" target="_blank" class="wow pulse section__btn"><span>Відео як
        видалити</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/ransomware.jpg" class="wow bounceInRight section__img" alt="no-img" />
  </div>
</section>