<section class="main__section main__section--odd" id="miners">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">5</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      <span class="section__headline section__headline--main">Вірус-майнер</span> <br />

      <span class="section__headline">Вірус-майнер</span> — це вірус, який
      використовує потужності ПК жертви в цілях заробити криптовалюту, зазвичай
      задіює <span>10%</span> потужності комп'ютера юзера, а
      коли користувач не використовує ПК, то усі <span>90%</span>.
      <br /><br />
      <span class="section__headline">Які ознаки наявності на ПК віруса-майнера?</span>
      <br /><br />
      1) Комп'ютер гальмує навіть при мінімальному навантаженні<br /><br />
      2) Перевищенне використання ОЗУ комп'ютера або відеокарти<br /><br />
      3) При від'єднані від інтернету або відкритому диспечері задач усі гальма припиняються
    </p>
  </div>

 <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/virusminer2.jpg" data-caption="Ілюстрація на тему вірус-майнер">
      <img
        src="./images/virusminer2.jpg"
        class="wow bounceInRight section__img"
        alt="Функції трояну віддаленного доступу"
    /></a>
  </div>
</section>