<section class="main__section main__section--odd" id="console">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">3</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p id="console-text" class="section__text">
      <span class="section__headline section__headline--main">Консоль розробника</span>
      <br />
      Деколи зловмисникам за допомогою соціально інженерії, вдається змусити користувача надіслати
      свої дані за допомогою консолі браузера.
      <span>Ніколи</span> не вводьте невідомі вам команди у консоль розробника <br /><br />
      <span class="section__headline section__headline--main">Давайте проведемо експеремент:</span>
      <br />1) Відкрийте наш сайт на комп'ютері <br /><br> 2) Введіть будь який-текст у полі нижче<br /><br />
      <input placeholder="Введіть щось..." class="section__input" type="password" />
      <br />3) Скопіюйте команду нижче (вона не несе ніякої загрози)<br />
      <span class="section__copied-text">
        <textarea disabled rows="1" class="section__textarea">window.sayHello()</textarea >
        <span class="material-icons copy-console-text-js">content_copy</span>
      </span>
      4) Відкрийте панель розробника нажавши <span>F12</span> або натиснути
      <span>Ctrl + ↑ Shift + J</span> <br><br />5) Перейдіть на вкладку <span>Console</span> та вставте
      команду<br><br><br>
    </p>
    

  </div>

  <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/console.jpg" data-caption="Вкладка консолі у інтрументах розробника">
      <img width="500" src="./images/console.jpg" class="wow bounceInLeft section__img" alt="no-img" /></a
    ><a href="./images/console_input.jpg" data-caption="Сюди вводиться команда">
      <img width="500" src="./images/console_input.jpg" class="wow bounceInLeft section__img" alt="no-img"
    /></a>
  </div>
</section>
