
<section class="main__section main__section--even" id="ransomware">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">6</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class=" section__text">
      <span class="section__headline section__headline--main">Вірус-вимагач</span> <br />

      <span class="pair1__text__title pair1__text__title--font">Вимагачі</span> - це злоякісні прогами, які після
      попадання на пистрій
      шифрують дані або функціонал комп'ютера і відображають вимогу про викуп.
      <br /><br />
      <span class="pair1__text__title pair1__text__title--font">Як розпізнати прогами-вимагачі:</span>
      <br />
      У більшості випадків програма відображає повідомлення про блок комп'ютера
      або додає текстовий файл з повідомленням про блок.
      <br /><br />
      <span class="pair1__text__title pair1__text__title--font">План дій програми-вимагача:</span>
      <br />
      1) Шифрування диску
      <br />
      2) Блокування екрану
      <br />
      3) Шифрування даних
      <br /><br />
      <span class="pair1__text__title pair1__text__title--font">Як захиститись?</span>
      <br />
      1) Створюйте резервні копії даних
      <br />
      2) Оновлюйте ПЗ, включно з операційною системою
    </p>
  </div>

  <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/ransomware.jpg" data-caption="Приклад вимагача">
      <img
        src="./images/ransomware.jpg"
        class="wow bounceInRight section__img"
        alt="Програма-вимагач"
    /></a>
  </div>
</section>