<section class="main__section main__section--odd main__section--last" id="confident">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">7</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      <span class="section__headline section__headline--main"
        >Декілька слів про конфіденційність</span
      >
      <br />
      У сучасному світі ми все частіше починаємо використовувати новітні технології.<br /><br />
      Проте часто погоджуючись із такою зручністю приходиться <span>ділитися</span> своєю
      конфіденційною інформацією. <br /><br />
      Ми стаємо відкритою книгою для зловмисника, тому варто подбати про свою
      <span>гігієну</span> Інтернеті. <br /><br />
      <!-- - Не варто розповідати про місце свого проживання <br>
      - Використовувати складні паролі для облікових записів<br>
      - Використовувати двохфакторну авторизацію<br> -->
      Сучасні браузери здатні збирати дуже багато інформації від користувача, починаючи з
      <span>цифрового відбитку</span> відвідувача веб-сторінки, закінчуючи місцем
      <span>кліків</span> та найцікавішою для юзера частиною сайта. <br />
      Деякі дані, такі як відео та аудіо, можна отримати лише з дозволу користувача.
      <br>
      <br>
      Відвідайте цікавий сайт який показує усі дані які може зібрати сучасний веб-браузер
    </p>
     <a target="_blank" href="https://clickclickclick.click/" class="wow pulse section__btn"><span>Сайт clickclick</span></a>
  </div>

  <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/confident_pic.jpg" data-caption="Конфіденційність у мережі Інтернет">
      <img
        src="./images/confident_pic.jpg"
        class="wow bounceInRight section__img"
        alt="Конфіденційність у мережі Інтернет" /></a
    ><a href="./images/allow_micro.png" data-caption="Запит на доступ до відео і аудіо">
      <img
        src="./images/allow_micro.png"
        class="wow bounceInRight section__img"
        alt="Конфіденційність у мережі Інтернет"
    /></a>
  </div>
  <div class="main__section--before"></div>
  <div class="main__section--after"></div>
</section>
