<section class="main__section main__section--odd" id="fishing">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div id="journey" class="section__icon-wrapper">
        <span class="section__icon-text">1</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      <span class="section__headline section__headline--main">Фішинг</span>
      <br>
      Розпочнемо нашу подорож із найпоширенішого методу взлому – <span>фішингу</span> <br /><br />
      <span class="section__headline">Фішинг</span>– це тип соціальної інженерії, коли зловмисник
      розсилає масові повідомлення із метою отримання конфіденційних даних або заразження неуважних
      користувачів.
      <br />
      <br />
      Найпоширенішим видом цієї атаки є <span>поштовий фішинг</span>.
      <br />
      Він націлений на те що необачний отримувач встановить шклідливе ПО або пройде за підозрілим
      посиланням ввівши свої дані у форму на сайті.
      <br />
      Зловмисник найчастіше використовує принцип <span>«spray and pray»</span>, завдяки якій хакери
      видають себе за якусь легітимну особистість або організацію, надсилаючи масові електронні
      листи на всі адреси електронної пошти, що є у них.
      <br /><br />
      Зазвичай такі листи легко відрізнити через те, що вони часто написані неграмотно або
      відправлені із фейкової поштової скриньки. Розпакований прикріплений архів із такого
      повідомлення, може призвести до <span>заразження</span> вашого пристрою тому ніколи не відкривайте
      підозрілі посилання і архіви із таких листів.
      <br /><br />
      Пройдіть цікавий <span>тест</span> та перевірте чи відрізните ви справжній і фішинговий лист
    </p>
    <a target="_blank" href="https://www.phishingbox.com/phishing-test" class="wow pulse section__btn"><span>пройти
        тест</span></a>
  </div>
  <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/Phishing_pic.jpg" data-caption="Кадр анімації Федеральної торгової комісії щодо протидії фішигу">
      <img width="500" src="./images/Phishing_pic.jpg" class="wow bounceInLeft section__img" alt="no-img" /></a>
    <a href="./images/phishing_email.jpg" data-caption="Приклад фішингового листа"><img width="500"
        src="./images/phishing_email.jpg" class="wow bounceInLeft section__img" alt="no-img" /></a>
  </div>
</section>