<section class="main__section main__section--even" id="fishing-site">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div id="journey" class="section__icon-wrapper">
        <span class="section__icon-text">2</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      <span class="section__headline section__headline--main">фішингові сайти</span>
      <br />
      Особливої уваги заслуговують <span>фішингові сайти</span>, які стали дуже поширеним явищем у
      сучасному Інтернеті. <br /><br />
      <span class="section__headline">Фішингові сайти </span>- це фейковий вебресурс, який виманює
      реквізити платіжних карток або паролі від соціальних мереж під виглядом надання послуг, що не
      існують. <br />
      <br />
      Найгірше це те, що сайт-клон часто ідентичний оригіналу і відрізнити його можна лише по
      <span>URL</span> або по відсутності деякого <span>функціоналу</span>. <br /><br />
      Сучасні браузери навчилися відрізняти фішингові сайти і попереджати про це користувача. Тому
      <span>ніколи</span>
      не перходьте по підозрілому посиланню, особливо коли про небезпеку попереджує ваш
      веб-переглядач.
      <br /><br />
      <span class="section__headline">Як відрізнити фішинговий сайт? </span>
      <br />
      1) Перевірте <span>URL</span> сайту<br />
      2) Впевніться чи доступні усі функції оригінального сайту<br />
      3) Перевірте чи немає невідповідності у тексті або стилях сайту<br />
      4) Впевніться що сайт має <span>https</span> з'єднання<br /><br />
      Спробуйте відрізнити справжній і клонований Insagram користуючись наведеними порадами
    </p>
    <a
      target="_blank"
      href="https://www.instagram.com/accounts/login/?source=auth_switcher"
      class="wow pulse section__btn"
      ><span>Сайт #1</span></a
    >
    <a
      target="_blank"
      href="https://zen-johnson-a9147c.netlify.app/login%20%E2%80%A2%20instagram"
      class="wow pulse section__btn"
      ><span>Сайт #2</span></a
    >
  </div>
  <div class="section__photo-wrapper section__photo-wrapper--js-gallery">
    <a href="./images/phishing_instagram.jpg" data-caption="Фішиговий instagram">
      <img
        width="500"
        src="./images/phishing_instagram.jpg"
        class="wow bounceInRight section__img"
        alt="no-img"
    /></a>
    <a href="./images/forbidden.png" data-caption="Приклад заблокованого фішингового сайту"
      ><img
        width="500"
        src="./images/forbidden.png"
        class="wow bounceInRight section__img"
        alt="no-img"
    /></a>
  </div>
</section>
