<section class="main__section main__section--odd" id="miners">
  <div class="section__text-wrapper">
    <div class="section__marker">
      <div class="section__icon-wrapper">
        <span class="section__icon-text">3</span>
        <span class="material-icons section__icon">location_searching</span>
      </div>
    </div>
    <p class="section__text">
      Вірус-майнер це вірус, який
      <span class="main__section--keyword">використовує ПК жертви в цілях заробити криптовалюту</span>, зазвичай
      використовує 10% потужності комп'ютера юзера, а
      <span class="main__section--keyword">коли юзер не використовує ПК, то усі 90%</span>.
      <br /><br />
      Як перевірити свій комп'ютер на майнери?
      <br /><br />
      1.
      <span class="main__section--keyword">Завантажити антивірус Eset. адже більшість майнерів є у базі даних
        Eset</span><br />
      2. Якщо ваш комп'ютер висне, а коли ви вимикаєте інтернет то перестає, то мабуть це майнер<br />
      3. Також при відкритому диспетчеру завдань, майнер не працює
      <br /><br />
      Видалення майнера довгий процес, тому можете подивитись відео де все роз'яснять, а також не
      забудьте завантажити Process Hacker 2
    </p>
    <a href="https://processhacker.sourceforge.io/downloads.php" target="_blank"
      class="wow pulse section__btn"><span>Process Hacker2</span></a>
    <a href="https://www.youtube.com/watch?v=qf_ycMiRT-Y" target="_blank"
      class="wow pulse section__btn"><span>Відео</span></a>
  </div>

  <div class="section__photo-wrapper">
    <img src="./images/virusminer2.jpg" class="wow bounceInLeft section__img" alt="Картинка на тему майнера" />
    <img src="./images/virusminer.jpg" class="wow bounceInLeft section__img" alt="Картинка на тему майнера" />
  </div>
</section>